* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  color: #0e3461;
}
.no-scroll {
  overflow: hidden;
}
.button {
  padding: 30px 50px;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  background: #fd9601;
  border-radius: 50px;
  color: white;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}
.section-title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  gap: 15px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  img {
    width: 100%;
  }
}
.header__menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  color: #111111;
}
.header__menu-list {
  display: flex;
  gap: 40px;
}
.header__menu-link {
  font-size: 20px;
}
.header__tel-number {
  font-weight: 500;
  font-size: 24px;
}
.header__burger {
  display: none;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 25px;
  z-index: 3;
}
.icon-close {
  display: none;
}
.icon-menu {
  display: block;
}
.header__burger.active {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}
.header__burger:hover {
  background-color: #d8d8d8;
}

// ************** HERO **************
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 20px 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 70px;
  padding: 0 20px;
  font-size: 60px;
  font-weight: 700;
  max-width: 1180px;
  text-align: center;
  line-height: 130%;
}
.hero__description {
  margin: 0 auto 40px;
  font-size: 30px;
  font-weight: 500;
  max-width: 1180px;
  padding: 0 20px;
  text-align: center;
  line-height: 130%;
}

.hero__description strong {
  font-weight: 700;
}

.hero__list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
  color: #111111;
}
.hero__item {
  display: flex;
  gap: 10px;
  align-items: center;
  strong {
    color: #0e3461;
  }
}
.hero__button {
  margin: 0 auto;
}

// **************** ABOUT ****************
.about {
}
.about__container {
  padding: 100px 15px;
}
.about__title {
  text-align: center;
  margin-bottom: 100px;
}
.about__content {
  margin-bottom: 42px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.about__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.about__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__subtitle {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #fd9601;
}
.about__text {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #222222;
}
.about__sub-text {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #222222;
}
.about__row {
  display: flex;
  gap: 10px;
  img {
    width: 36px;
    height: 37px;
  }
}
.about__footer {
  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

// **************** WHY ****************
.why {
  background: linear-gradient(78.78deg, #dcfdde 0%, #f5ffee 100%);
  padding: 100px 15px;
}
.why__title {
  max-width: 700px;
  text-align: center;
  margin: 0 auto 100px;
}
.why__list {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #087f0e;
    left: 239px;
  }
}
.why__item {
  display: flex;
  // gap: 30px;
}
.why__item-logo {
  width: 191px;
}
.why__step {
  margin-left: 20px;
  margin-right: 30px;
  p {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #087f0e;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: white;
  }
}
.why__details {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.why__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.why__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #111111;
}
.why__item-list {
  max-width: 840px;
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 25px;
  &.no-wrap {
    flex-wrap: wrap;
    li {
      width: 100%;
    }
  }
  li {
    margin-left: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
  }
}
.why__cube {
  margin-top: auto;
}
.why__button {
  margin: 0 auto;
}
// **************** REVIEWS ****************
.reviews__title {
  text-align: center;
  margin-bottom: 100px;
}
.reviews__list {
  display: flex;
  gap: 50px;
}
.reviews__item {
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  height: fit-content;
  img {
    width: 100%;
  }
}
// **************** VIDHUK ****************
.vidhuk {
  background: linear-gradient(78.78deg, #dcfdde 0%, #f5ffee 100%);
}
// **************** FACEBOOK ****************
.facebook__container {
  padding: 100px 15px;
}
// **************** CAN HELP ****************
.can-help {
}
.container {
}
.can-help__container {
  max-width: 1190px;
  padding: 0 10px 100px;
}
.section-title {
}
.reviews__title {
}
.can-help__list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.can-help__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(78.78deg, #dcfdde 0%, #f5ffee 100%);
  border-radius: 30px;
  padding: 30px 15px;
}
.can-help__item-pic {
  margin-bottom: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.can-help__item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}
.can-help__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #222222;
  text-align: center;
}
.can-help__footer {
  margin: 0 auto;
  max-width: 945px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  span {
    color: #ff4d00;
  }
}

// ************** CALL-BACK **************
.call-back {
  background-image: url('../images/call-back-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.call-back__content {
  display: flex;
  gap: 50px;
}
.call-back__details {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.call-back__img {
}
.section-title {
}
.call-back__title {
}
.call-back__text {
  color: #222222;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  span {
    color: #fd9601;
  }
}
.call-back__form {
  position: relative;
  display: flex;
  gap: 50px;
  align-items: center;
}
.call-back__left {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.form__field {
  display: flex;
  border-radius: 50px;
  border: 2px solid #fd9601;
  overflow: hidden;
}
.form__tel-ico {
  width: 80px;
  height: 80px;
  background-color: #fd9601;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
  }
}
.form__input {
  flex: 1;
  border: none;
  height: 80px;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #222222;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 20px 0 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
  &:active {
    background-color: white;
  }
}
.call-back__button {
}
.button {
}
.call-back__right {
  position: relative;
  left: 70px;
  margin-left: -60px;
}

.can-help__title {
  margin-top: 80px;
}
// **************** FOOTER ****************

.footer {
  border-radius: 200px 200px 0px 0px;
  background-image: url('../images/call-back-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
}
.footer__container {
  padding-bottom: 40px;
}
.footer__title {
  margin-bottom: 50px;
}
.footer__content {
  display: flex;
  gap: 80px;
  margin-bottom: 50px;
}
.footer__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__left-text {
  max-width: 450px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.footer__left-text.orange {
  max-width: none;
  color: #fd9601;
}
.footer__left-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.footer__left-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__left-tel {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fd9601;
  }
}
.footer__left-socials {
  display: flex;
  gap: 15px;
}
.footer__left-social {
}
.footer__left-social-link {
}
.footer__pencil {
  position: relative;
  bottom: 80px;
  margin-bottom: -80px;
}
.footer__right {
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}
.form__field {
}
.form__tel-ico {
}
.form__input {
}
.form__button {
}
.button {
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__nav {
  display: flex;
  gap: 40px;
}
.footer__logo {
}
.footer__menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.footer__menu-item {
}
.footer__menu-link {
  font-family: 'Montserrat Alternates';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.footer__politics {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #444444;
}

// **************** MEDIA ****************
@media screen and (max-width: 1300px) {
  .call-back__right {
    left: 0px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 1240px) {
  .footer {
    border-radius: 150px 150px 0px 0px;
  }
}
@media screen and (max-width: 1140px) {
  .call-back__right {
    display: none;
  }
  .footer__content {
    gap: 30px;
  }
  .footer__pencil {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header__menu-list {
    gap: 20px;
  }
  .header__menu-link {
    font-size: 17px;
  }
  .header__tel-number {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .section-title {
    font-size: 42px;
  }
  .about__title,
  .reviews__title {
    margin-bottom: 80px;
  }
  .about__container,
  .facebook__container {
    padding: 80px 15px;
  }
  .can-help__list {
    flex-wrap: wrap;
  }
  .can-help__item {
    width: 48%;
  }
  .footer {
    border-radius: 100px 100px 0px 0px;
  }
}
@media screen and (max-width: 970px) {
  .header__logo {
    width: 152px;
  }
  .header__menu-list {
    gap: 15px;
  }
  .hero__title {
    font-size: 55px;
  }
  .call-back__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 930px) {
  .header__tel-number {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .header__container {
    justify-content: center;
  }
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__menu {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  .header__menu.active {
    opacity: 1;
    pointer-events: all;
    display: flex;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: white;
    padding: 50px 20px;
  }
  .header__menu.active .header__menu-list {
    flex-direction: column;
    gap: 30px;
  }
  .header__menu.active .header__menu-item {
    text-align: center;
  }
  .header__menu-link {
    font-size: 20px;
  }
  .header__tel-number {
    font-size: 24px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__description {
    font-size: 25px;
  }
  .about__content {
    flex-direction: column;
  }
  .about__subtitle {
    text-align: center;
  }
  .why {
    padding: 80px 15px;
  }
  .why__list {
    &::after {
      display: none;
    }
  }
  .why__item {
    gap: 20px;
  }
  .why__step {
    display: none;
  }
  .why__title {
    margin-bottom: 80px;
  }
  .reviews__list {
    flex-direction: column;
    align-items: center;
  }
  .reviews__item {
    width: 100%;
    max-width: 400px;
    iframe {
      width: 100%;
      height: 350px;
    }
  }
  .call-back__content {
    flex-direction: column;
    align-items: center;
  }
  .call-back__img {
    max-width: 440px;
  }
  .call-back__title,
  .call-back__text {
    text-align: center;
  }
  .footer {
    border-radius: 50px 50px 0px 0px;
  }
  .footer__menu-list {
    flex-direction: column;
    gap: 10px;
  }
  .footer__title {
    text-align: center;
  }
  .footer__nav {
    align-items: center;
  }
  .footer__left-text {
    max-width: none;
    text-align: center;
  }
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__left-bottom {
    justify-content: center;
  }
  .footer__politics {
    text-align: center;
  }
  .footer__left-socials {
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .can-help__item {
    width: 100%;
  }
}
@media screen and (max-width: 775px) {
  .hero__list {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 38px;
  }
  .about__title,
  .reviews__title {
    margin-bottom: 60px;
  }
  .about__container,
  .facebook__container {
    padding: 65px 15px;
  }
  .why__cube {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  // .button {
  //   padding: 19px 18px;
  //   line-height: 130%;
  // }
  .hero__container {
    padding: 150px 20px 50px;
  }
  .hero__title {
    font-size: 35px;
  }
  .hero__description {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .hero__container {
    padding: 130px 15px 50px;
  }
  .hero__description {
    margin-bottom: 30px;
  }
  .hero__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .hero__item {
    flex-direction: column;
    p {
      text-align: center;
    }
  }
  .section-title {
    font-size: 30px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__container {
    padding: 50px 15px;
  }
  .about__content {
    gap: 30px;
  }
  .about__avatar {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .why__title {
    margin-bottom: 50px;
  }
  .why__item {
    flex-direction: column;
    align-items: center;
  }
  .form__tel-ico {
    width: 70px;
  }
  .form__input {
    width: 100%;
  }
  .call-back__details {
    gap: 30px;
  }
}
@media screen and (max-width: 440px) {
  .footer__nav {
    flex-direction: column;
    gap: 20px;
  }
  .form__tel-ico {
    width: 50px;
  }
}
